.page__container {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 45px 200px 60px;
}

@media screen and (max-width: 1279px) {
  .page__container {
    padding: 45px 60px 60px;
  }
}

@media screen and (max-width: 1023px) {
  .page__container {
    padding: 45px 40px 60px;
  }
}

@media screen and (max-width: 767px) {
  .page__container {
    padding: 28px 0 36px;
  }
}
